<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372296785126-h9li561skcmsraah31oek4oreglri57q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372296785126-h9li561skcmsraah31oek4oreglri57q</string>
	<key>API_KEY</key>
	<string>AIzaSyA3OfzAabjdyogZs9FQ0f_mV_0aBTeKE58</string>
	<key>GCM_SENDER_ID</key>
	<string>372296785126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mfadlanridho.onlineLearning</string>
	<key>PROJECT_ID</key>
	<string>online-learning-10d41</string>
	<key>STORAGE_BUCKET</key>
	<string>online-learning-10d41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372296785126:ios:f865e9f1b0998d5d526f27</string>
</dict>
</plist>